In [2]:
import pandas as pd

In [146]:
data = pd.read_csv("card.csv", sep = ';')

In [148]:
print(data.shape)
data.head(2)

(22154, 9)

,date of birth,age,sex,account,id,issued,active,payroll,segment
0,1940-08-09,76,Female,Long life deposit,01-0102-D-77792953,1,0,0,Retired
1,1967-11-21,49,Male,Long life deposit,01-0102-D-77789599,1,0,0,Workers

In [127]:
data['date of birth'] = a[0]
#data['date of birth'].astype('int64')

In [169]:
data.ftypes

date of birth    datetime64[ns]:dense
age                       int64:dense
sex                        int8:dense
account                    int8:dense
id                       object:dense
issued                    int64:dense
active                    int64:dense
payroll                   int64:dense
segment                    int8:dense
dtype: object

In [147]:
a = data[[0]].apply(pd.to_datetime)
data['date of birth'] = a[0]

In [129]:
type(a[0][0])

pandas.tslib.Timestamp

In [149]:
data['sex'] = data['sex'].astype('category')

In [154]:
data['sex'].cat

In [155]:
data['sex'] = data['sex'].cat.codes

In [157]:
data['account'] = data['account'].astype('category')
data['account'] = data['account'].cat.codes

In [168]:
data['segment'] = data['segment'].astype('category')
data['segment'] = data['segment'].cat.codes